@use "sass:color";

.button {
    border: none;
    border-radius: $border-radius;
    padding: $xxsmall $small;
    font-size: $base-font-size;
    font-weight: $semibold;

    &.bg-ub40 {
        &:hover {
            background-color: color.adjust($ub40, $lightness: 15);
        }

        &:active {
            background-color: color.scale($ub40, $lightness: -15%);
        }
    }

    // lightness function requires the base color to be passed as a parameter

    // we have to define these states for the rest of the available classes. is there an easier way to do it without being repetitive?
}