// Colors
$white: #FFFFFF;
$mocha5: #F7F6F6;
$mocha10: #EEECEC;
$mocha20: #DFDEDE;
$mocha30: #BFBEBC;
$mocha40: #9F9D9B;
$mocha50: #7F7D79;
$mocha60: #5F5C58;
$mocha70: #474542;
$mocha80: #302E2C;
$ub5: #E8F2F4;
$ub10: #CEE3E8;
$ub20: #9DC7D2;
$ub30: #6BAABB;
$ub40: #3A8EA5;
$ub50: #09728E;
$ub60: #07566B;
$ub70: #04485B;
$ub80: #053947;
$green: #4FA806;
$red: #E42508;
$orange: #E4A206;
$gold: #F7E0AA;