<div class="movie-card">
  <h4 class="margin-bottom-xxsmall">{{ title }}</h4>
  <div class="display-flex sub-header">
    <div>
      <span class="semibold font-size-base">Release Date</span>
      <i class="far fa-clock font-size-sm"></i>
      <span class="text-muted font-size-sm">{{ releaseDate }}</span>
    </div>
  </div>
  <div class="bordered-list-container margin-top-medium">
    <ng-container *ngFor="let date of listOfDates">
      <div class="display-flex justify-between bordered-list-item align-center">
        <p class="text-muted medium-weight">{{ date }}</p>
        <app-button
          [buttonColor]="'bg-ub40'"
          [textColor]="'white'"
          [text]="'Buy Tickets'"
        ></app-button>
      </div>
    </ng-container>
  </div>
</div>
