// font sizes
$base-font-size: 14px;
$font-size-sm: 12px;
$font-size-md: 24px;

p {
    font-size: $base-font-size;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

.font-size-base {
    font-size: $base-font-size;
}

.font-size-sm {
    font-size: $font-size-sm;
}

.font-size-md {
    font-size: $font-size-md;
}

// font weights
$medium-weight: 500;
$semibold: 600;

.medium-weight {
    font-weight: $medium-weight;
}

.semibold {
    font-weight: $semibold;
}

h4 {
    font-weight: $semibold;
}

// font colors
p {
    color: $mocha60;
}

h4 {
    color: $mocha80;
}

.text-muted {
    color: $mocha60;
}

.text-dark {
    color: $mocha80;
}

// spacing
p,
h4 {
    margin: 0;
}

.far {
    line-height: 20px;
}

// alignment
.text-align-right {
    text-align: right;
}